* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "atteron";
  src: url(/font/Atteron.ttf);
}

section {
  padding-right: 5%;
  padding-left: 5%;
  width: 100%;
  height: 100vh;
  border-bottom: 4px solid white;
  background-color: #141414;

  header {
    padding-right: 2.5%;
    padding-left: 2.5%;
    height: 13vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper-tag {
    padding: none;
    margin: none;
    border: none;
  }

  .logo {
    background-size: cover;
    background-image: url(/designs/logo.png);
    max-height: 66px;
    max-width: 290px;
    min-width: 238px;
    min-height: 54px;
  }

  .link {
    color: white;
    font-size: 18px;
    border: 1px solid white;
    padding: 10px 30px;
  }

  .cta {
    color: white;
    text-align: center;
    font-family: atteron;
    font-size: 55px;
  }

  .hero-img {
    // centering img
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    width: 200px;
    height: 300px;
    max-width: 260px;
    max-height: 381px;
  }
}

.about {
  width: 100%;
  background-color: #141414;
  height: 100vh;
  // flex
  display: flex;
  flex-direction: row;

  .half-1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .heading {
    color: white;
    font-family: atteron;
    font-size: 25px;
    text-align: none;
  }.texts{
    color: white;
  font-size: 18px;
  margin-top: 20px;

  }.about-png{
    max-height: 270px;
    max-width: 420px;
    object-fit: cover;
  }.about-2{
height: 420px;
width: 300px;
object-fit: cover;

  }
  .half-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 100%;

  }
}
@media (min-width:300px) and (max-width:600px) {

  section{
    padding-left: 0%;
    padding-right:0% ;
  }
  .about{
    flex-direction: column;
  }.about-png{
    height:173px;
    width:273px ;
  }.half-1{
    width: 100%;
    height: 50%;
    background-color: red;
  }
  .about-2{
    height: 273px;
    height: 173px;
    object-fit: cover;
    margin: 0 auto;
  }
  .half-1{
    width: 100%;
    height: 50vh;
    justify-content: center;
    display: flex;
    align-self: center;

  }
}