.navigation {
  &__check {
  }
  .btn {
    font-size: 1.8rem;
    padding: 1rem 3.5rem;
    position: fixed;
    // z index most high
    z-index: 100;
    right: 5%;
    cursor: pointer;
    top: 5%;
    color: white;
    @media (min-width: 300px) and(max-width:600px) {
      top: 3%;

      right: 2%;
    }
    .navigation__icon {
      font-size: 3rem;
      width: 100%;
    }
  }
  nav {
    // background blur
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    position: fixed;
    right: 0;
    z-index: 50;
    opacity: 0;
    transition: all 0.6s;

    width: 5%;
    height: 100vh;
  }
  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    list-style: none;
  }
  li {
    margin: 4rem;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 3rem;
  }
  .item {
    display: block;
    padding-bottom: 0.25rem; /* defines the space between text and underline */
    position: relative;
    color: white;
    padding: 1rem 3rem;
    @media (min-width: 300px) and (max-width: 600px) {
      font-size: 2rem;
    }
  }
  .item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.25s ease-out;
  }
  .item:hover::before {
    width: 100%;
  }

  .navigation__check:checked ~ .navigation__btn {
    border: 1px solid black;
  }
  .navigation__check:checked ~ nav {
    width: 30%;
    opacity: 1;
    animation-delay: 0.2s;
    animation: letter 1s ease-in-out;

    @media (min-width: 300px) and(max-width:600px) {
      width: 60%;
    }
  }
}
