.hero {
  @include fwh;
  background-color: $bg;

 
  &__img {
    @include absCenter;
    animation: height ease-in-out  ;
  }
  &__heading {
    font-family: head;
    font-size: 6.8rem;
    color: white;
    text-align: center;
    @include centertxt;
    z-index: 4;
    padding: 1.2rem;

    @media (min-width: 300px) and(max-width:600px) {
      font-size: 4.2rem;
    }
  }
  &__wrapper {
    top: 4%;
    left: 5%;
    position: absolute;
    // making logo responsive with min and max
    @media (min-width: 300px) and(max-width:600px) {
      height: 2rem;
      top: 5%;
      left: 1%;
      .logo {
        object-fit: cover;
        height: 4rem;
      }
    }
  }
}

